<h1>Schedle your 1-on-1 pet session</h1>

<style>
    .mini-img {
        width: 25%;
        height: auto;
    }
</style>
{{!-- Get: phone #, email, date and time, name, left or right handed --}}
<img class="mini-img" src="petme.jpg" alt="img test">