<style>
    .img-container {
        display: flex;
        justify-content: center;
    }
    .mini-img {
        width: 35%;
        height: auto;
    }
    .breathing-rm {
        
    }
</style>



<h1 style="margin-left: 2rem;">Health and Wellness</h1>
<div class="breathing-rm">
    <h2>Allergies</h2>
    <p>This guy....</p>
    <ul>
        <li>Beef</li>
        <li>Milk</li>
        <li>Venison</li>
        <li>Kangaroo</li>
        <li>Chicken</li>
        <li>Turkey</li>
        <li>Lamb</li>
        <li>Pork</li>
        <li>Rabbit</li>
        <li>Pinto Beans</li>
        <li>Wheat</li>
    </ul>
</div>
<h2>Breed Results</h2>
<div class="breathing-rm">
    <div class="img-container">
        <img class="mini-img rounded" src="breed.png" alt="img test">
    </div>
    <p>To find out more information, click the link below</p>
    <a href="http://embk.me/koda1458?utm_campaign=cns_ref_dog_pub_profile&utm_medium=other&utm_source=embark" target="_blank">More Info!</a> 
</div>