<h1 style="margin: 1rem;">Hobbies</h1>

<style>
	.card-container {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
	}
	.card-add {
		margin: 50px;

	}
</style>

<div class="card-container">
	<div class="card card-add" style="width: 18rem;">
		<img src="mountain.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Mountain Climbing</h5>
			<p class="card-text">Koda is an avid mountain climber. He has summitted three different 14ers with friends and family. His upcoming memoir delves into how he overcame his fear of creeks.</p>
		</div>
	</div>

	<div class="card card-add" style="width: 18rem;">
		<img src="hiking.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Hiking</h5>
			<p class="card-text">Nothing can keep Koda away from the trails. The legends say that if you put your ear to the ground at any trailhead, you can hear Koda singing.</p>
		</div>
	</div>

	<div class="card card-add" style="width: 18rem;">
		<img src="nature.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Day Dreaming</h5>
			<p class="card-text">Koda spends much of his time day-dreaming. The sky is the limit and he knows his imagination can take him anywhere.</p>
		</div>
	</div>

	<div class="card card-add" style="width: 18rem;">
		<img src="swim1.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Swimming</h5>
			<p class="card-text">Since moving to Texas, Koda has found a new friend in the water. No better way to cool off.</p>
		</div>
	</div>

	<div class="card card-add" style="width: 18rem;">
		<img src="pillow.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Sleep</h5>
			<p class="card-text">Nothing better than a good nap to recharge the batteries.</p>
		</div>
	</div>

	<div class="card card-add" style="width: 18rem;">
		<img src="dress_up.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Dress Up</h5>
			<p class="card-text">He likes sneaking his way into his friends and family's clothing.  Probably training for a covert operation.</p>
		</div>
	</div>

	<div class="card card-add" style="width: 18rem;">
		<img src="rumi.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Battle of Wits</h5>
			<p class="card-text">Of course, our scholar likes to break a mental sweat too. He was once named most promising young grand-master.</p>
		</div>
	</div>

</div>
